<div class="hero-unit">
  <div class="row">
    <div class="col-md-1">
      <!--spacer -->
    </div>
    <div class="col-md-10">
      <div class="blog-post">
        <h2 class="blog-post-title">Welcome to my Assignment Project Website</h2>
        <hr style="	background-color: #fff; border-top: 2px dashed #8c8b8b;" />
        <p class="article">
          My name is Slawomir Malczewski and this is my assignment project for the <span style="font-style: oblique; color:blue;"> Internet Application Development Assessment.</span><br/>
          This project has a form of a very simple web application prepared in Ruby on Rails framework and it is hosted on the Heroku - cloud Platform as a Service.<br/>
          This small web-service is mainly styled using Bootstrap.<br/>
          The visitor of this website has a possibility to create/edit/delete posts from the administration panel, which is accessed through the <mark>Manage Post</mark> tab in the main menu.<br/>
          There are some basic validation checks for creating new posts.
          <ul class="article">
            <li class="article">The <mark>post title</mark> must be eneterd and the length of this title cannot be more than 80 characters</li>
            <li class="article">The <mark>post body</mark> must be entered and the length of it has to be more than 50 characters</li>
          </ul>
        </p>
        <p class="article">
          All created and published posts will be displayed in the <mark>Display Posts</mark> page that can be entered through the <mark>Display Posts</mark> tab in the main menu.<br/>
          To cover the part of the assignment that requires to create own JavaScript I have created a script that is displaying quotes about photography each time the visitor will click <mark>Next Quote</mark> button.
        </p>
      </div>
    </div>
</div>
<br/>

<div class="row">
  <div class="col-md-3">
    <!--spacer -->
  </div>
  <div class="col-md-6">
    <div id="myjsContainer">
      <blockquote>
        <p id="phrase"></p>
        <cite id="author"></cite>
      </blockquote>
    </div>
  </div>
      <div class="col-md-2">
        <button class='btn btn-sm btn-info' onclick="newPhrase()">Next Quote...</button>
      </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!-- spacer -->
  </div>
</div>


</div>

<script type="text/javascript">
  newPhrase();
</script>
